* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

ul,li {
	list-style: none;
}

body {
	background: #f9f9f9 url('../image/bg.jpg');
	width: 100%;
	height: 100%;
}

.nav-box {
	width: 300px;
	position: absolute;
	bottom: 0;
	top: 0;
	background: #4e545b url('../image/cardboard.png');
	padding: 0 15px 0 23px;
	text-align: left;
	overflow-y: scroll;
	box-sizing: border-box;

	&::-webkit-scrollbar {
		width: 4px;
		height: 4px;
		transition: all 0.3s ease-in-out;
	}

	&::-webkit-scrollbar-thumb {
		border-radius: 3px;
		background: #999;
	}

	&::-webkit-scrollbar-track-piece {
		background: transparent;
	}

	& a{
		display: block;
	}
	
	& hr {
		margin: 0;
		height: 0;
		clear: both;
		border-width: 0;
		border-top: 1px solid #282b2f;
		border-bottom: 1px solid #575c62;
	}
}

.nav-headBtn {
	color: #fff;
	text-transform: uppercase;
	margin: 10px 0;
	position: relative;
	transition: all 0.1s linear;
	padding-left: 0px;

	&:hover {
		padding-left: 10px;
	}

	&:before {
		content: '▶';
		font-family: "Lucida Grande","Lucida Sans Unicode";
		margin-right: 5px;
	}

}

.show-Child:before {
	content: '▼';
	font-family: "Lucida Grande","Lucida Sans Unicode";
	margin-right: 5px;
	margin-top: -1px;
	font-size: 5px;
}

.nav-detail {
	background: #fff;
	display: block;
	border-radius: 5px;
	margin-bottom: 10px;
	overflow: hidden;

	& li {
		display: table;
		height: 33px;
		width: 100%;
		table-layout: fixed;
		border-top: 1px solid #d4d4d4;

		& a {
			display: table-cell;
			vertical-align: middle;
			color: #777;
			padding: 0 10px;
			font-weight: bold;
			font-size: 13px;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
			text-transform: capitalize;
			transition: all 0.5s ease-in;

			&>span {
				padding-right: 5px;
			}

			&:hover {
				background: rgba(255, 165, 0, 0.7);
			}
		}
	}

	& li:first-child {
		border-top: none;
	}

}

.leftIframe {
	position: absolute;
	left: 300px;
	bottom: 0;
	top: 0;
	right: 0;
	overflow: hidden;
}

